 *{
 	padding: 0px;
 	margin:0px;
 } 

 body{
	background-color: #d7e7f4;
}
#container{
	width:954px;
	margin:auto;
	background-color: #fff;
	height: 100vh;
}
#head{
	margin-left: 22px;
	margin-right: 22px;
	position: relative;

}
#logo{
	float: left;
}
#leftalign{
	top:20px;
	right: 0px;
	position: absolute;
	color: #007BAF;

}
#some{
	position: absolute;
	top: 40px;
	right: 0px;
}
img{
	top: 10px;
}
#hrline{
	height: 200px;
	border-bottom: 2px solid black;
}